# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# MLflow
mlruns/
mlflow.db

# Data files
data/

# Logs
*.log

# Temporary files
*.tmp

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Reports
reports/*.html
reports/*.pdf
reports/*.docx